<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="application.css" />
    <link rel="stylesheet" href="welcome.scss" />
  </head>

  <body>
          <header>
            <div class="logo-container">
              <div class= "logo" align="center">
                <%=image_tag "ripebanana-12.png", width: "500" %>
              </div>
            </div>
            <div class="navbarnana" align="center">
                  <a href="/#homepage"><%=image_tag "ripebanana-06.png", width: "200" %></a>
                  <a href="/movies/new"><%=image_tag "ripebanana-03.png", width: "200" %></a>
                    <a href="/movies/index"><%=image_tag "ripebanana-09.png", width: "200" %></a>
                </div>
            <div class="topnav">
                  <a href="/#homepage">home</a>
                  <a href="/movies/new">add movie</a>
                  <a href="/movies">index</a>
                </div>
          </header>
  </body>


</html>
